<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="cta">
    <div class="container">
        <h2 class="title">
            Get It Done
            <br/>
            With Us Today
        </h2>
        <p>
            some filler copy
        </p>
        <a href="/contact" class="cs-button-solid">Get an Estimate Now</a>
    </div>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/webp/construction-cta.webp">
        <source media="(min-width: 601px)" srcset="/assets/images/webp/construction-cta.webp">
        <img aria-hidden="true" decoding="async" src="/assets/images/webp/construction-cta.webp" alt="kitchen cabinets" loading="lazy" width="2500" height="1667">
    </picture>

</section>