---
title: 'About | Code Stitch Web Designs'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">About Us</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/aboutHero.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/aboutHero.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/aboutHero.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>

    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/equipment3.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/equipment3.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/equipment3.jpg" alt="cabinets" loading="lazy" width="400" height="563">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/playground5.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/playground5.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/playground5.jpg" alt="house" loading="lazy" width="400" height="563">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">About Us</span>
                <h2 class="cs-title">About Redwood Engineering Construction</h2>
                <p class="cs-text">
                    Redwood Engineering Construction is a full-service general engineering and construction contractor serving the San Francisco Bay Area. Our team brings hands-on expertise to every project, ensuring top-quality workmanship from start to finish. We specialize in grading, excavation, drainage, and structural work for both public and private clients.
                </p>
                <p class="cs-text">
                    Licensed and insured, we’re trusted by municipalities and property owners alike. From parks and city infrastructure to foundation repairs and slope stabilization, we deliver dependable results with a focus on safety, efficiency, and client satisfaction.
                </p>
                <p class="cs-text">
                    Among Redwood Engineering Construction's major clients are the California Department of Transportation, Berkeley, San Jose, Sunnyvale, Santa Clara, San Carlos, Redwood City, One Shoreline Sea District and Plant Construction.
                </p>
                <div class="cs-flex-group">
                    <p class="cs-flex-p">
                        Redwood Engineering Construction is commited to delivering superior value to its customers with our commitment to hardwork, effeciency and attention to detail.
                    </p>
                    <span class="cs-name">Ben Cerney</span>
                    <span class="cs-job">CEO-Founder</span>
                    <img class="cs-quote-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg" alt="gavel" width="136" height="77">
                </div>
                <a href="/projects" class="cs-button-solid">Our Projects</a>
            </div>
        </div>
    </section>

    {% include 'components/cta.html' %}

{% endblock %}