---
title: 'James Kenny Park | Redwood Engineering Construction'
description: 'Gallery for James Kenny Park'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'james-kenny/'
eleventyNavigation:
    key: James Kenny Park
    order: 3100
    parent: Projects
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/projects.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">James Kenny Park</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/cabinets2.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                  Gallery                     -->
    <!-- ============================================ -->

    <section id="gallery-483">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Gallery</span>
                <h2 class="cs-title">James Kenney Park</h2>
                <p class="cs-text">
                     This project called for the removal of an existing playground and lot of a park in Bekeley, California. Then, a new playground for 5-12 year olds and a new lot are to be constructed. A new pathway which meets ADA accessability requirements is constructed and a new picnic area and a bioretention area for stormwater treatment.
                </p>
                <picture class="cs-content-picture">
                    <source media="(max-width: 600px)" srcset="../assets/images/webp/jk/jk3.webp">
                    <source media="(min-width: 601px)" srcset="../assets/images/webp/jk/jk3.webp">
                    <img loading="lazy" decoding="async" src="../assets/images/webp/jk/jk3.webp" alt="yard" width="630" height="532">
                </picture>
            </div>
            <div class="cs-grid">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="../assets/images/webp/jk/jk2.webp">
                    <source media="(min-width: 601px)" srcset="../assets/images/webp/jk/jk2.webp">
                    <img loading="lazy" decoding="async" src="../assets/images/webp/jk/jk2.webp" alt="yard" width="305" height="522">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="../assets/images/webp/jk/jk1.webp">
                    <source media="(min-width: 601px)" srcset="../assets/images/webp/jk/jk1.webp">
                    <img loading="lazy" decoding="async" src="../assets/images/webp/jk/jk1.webp" alt="yard" width="305" height="348">
                </picture>
                <picture class="cs-picture cs-picture3">
                    <source media="(max-width: 600px)" srcset="../assets/images/webp/jk/jk4.webp">
                    <source media="(min-width: 601px)" srcset="../assets/images/webp/jk/jk4.webp">
                    <img loading="lazy" decoding="async" src="../assets/images/webp/jk/jk4.webp" alt="yard" width="305" height="387">
                </picture>
                <!-- <picture class="cs-picture cs-picture4">
                    <source media="(max-width: 600px)" srcset="../assets/images/webp/jk/jk.webp">
                    <source media="(min-width: 601px)" srcset="../assets/images/webp/jk/jk.webp">
                    <img loading="lazy" decoding="async" src="../assets/images/webp/jk/jk.webp" alt="yard" width="305" height="483">
                </picture> -->
            </div>
        </div>
    </section>
                                

    {% include 'components/cta.html' %}

{% endblock %}