---
title: 'West Valley College Landscaping | Redwood Engineering Construction'
description: 'Filler for now'
preloadImg: '/assets/images/webp/da/1.webp'
permalink: 'west-valley-college/'
eleventyNavigation:
  key: West Valley College
  order: 3300
  parent: Projects
---
{% extends "layouts/base.html" %}

{% block head %}
<link rel="stylesheet" href="/assets/css/projects.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

<section id="int-hero">
    <h1 id="home-h">West Valley College</h1>
</section>

<!-- ============================================ -->
<!--                  Gallery                     -->
<!-- ============================================ -->

<section id="gallery-483">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Gallery</span>
            <h2 class="cs-title">West Valley College Landscaping</h2>
            <p class="cs-text">
                This project focused on restoring the depressed landscape area at the corner entrance to West Valley
                College in Saratoga. The first step in the project was to remove the existing vegetation, bark, weeds,
                broken irrigation lines, decaying planter boxes, and old shrubs from the entrance area. The area
                was then excavated, graded, and prepped for the importation of new decomposed granite paving and new
                planting soil.
            </p>
            <p class="cs-text">
                The comprehensive scope of work encompassed the re-routing of existing utilities, installation of new
                drainage, installation of new irrigation lines, and the planting of new trees, plants, and grasses. Large boulders, cobble, and creek pebbles were then brought in and selectively placed throughout the site. Colored decomposed granite paths were installed, and the centerpiece of the project was the installation of Permaloc Landscape Edging in the shape of large curved leaves, inspired by the West Valley College model.
            </p>
            <p class="cs-text">
                Our work crews prioritized minimizing inconvenience to daily campus activities, acknowledging the importance of creating a conducive environment for learning and work.
            </p>
            <p class="cs-text">
                The project delivered a positive visual impact to the college by rejuvenating a deteriorating landscape at the campus entrance. The introduction of new landscaping and pathways not only enhanced the aesthetics but also contributed to sustainable and environmentally friendly campus features.
            </p>
            <picture class="cs-content-picture">
                <source media="(max-width: 600px)" srcset="../assets/images/webp/da/1.webp">
                <source media="(min-width: 601px)" srcset="../assets/images/webp/da/1.webp">
                <img loading="lazy" decoding="async" src="../assets/images/webp/da/1.webp" alt="yard" width="630"
                    height="532">
            </picture>
        </div>
        <div class="cs-grid-2">
            <picture class="cs-picture cs-pic1">
                <source media="(max-width: 600px)" srcset="../assets/images/webp/da/3.webp">
                <source media="(min-width: 601px)" srcset="../assets/images/webp/da/3.webp">
                <img loading="lazy" decoding="async" src="../assets/images/webp/da/3.webp" alt="yard" width="305"
                    height="522">
            </picture>
            
        </div>
    </div>
</section>

{% include 'components/cta.html' %}

{% endblock %}
