---
title: 'De Anza Park | Redwood Engineering Construction'
description: 'Renovation of De Anza Park in Sunnyvale, CA, featuring a custom adventure playground, new surfacing, improved drainage, and accessible play structures.'
preloadImg: '/assets/images/webp/da/1.webp'
permalink: 'de-anza-park/'
eleventyNavigation:
  key: De Anza Park
  order: 3200
  parent: Projects
---


{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/projects.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">De Anza Park</h1>
    </section>

    <!-- ============================================ -->
    <!--                  Gallery                     -->
    <!-- ============================================ -->

    <section id="gallery-483">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Gallery</span>
                <h2 class="cs-title">De Anza Park</h2>
                <p class="cs-text">
                    This Project is rehabilitation of an existing park in Sunnyvale that contained sand and
                    deteriorated resilient surface with play equipment installed in 1993. The old play
                    equipment, sand and surfacing was removed and replaced. An “adventure” playground
                    was created through the use of new rubber surfacing resembling the ocean and green
                    elevated “islands” that serve as play features in and of themselves. The new play
                    equipment insalled reinforces the adventure theme with ample opportunities for
                    climbing, swinging, slideing, spinning and exploring. Engineered wood fiber was also
                    installed to add interest in the park and serve as a cost saving measure. <br></br>
                    Grading and drainage improvements were also incorporated into the build out of the
                    rehabiitated park.
                </p>
                <picture class="cs-content-picture">
                    <source media="(max-width: 600px)" srcset="../assets/images/webp/da/1.webp">
                    <source media="(min-width: 601px)" srcset="../assets/images/webp/da/1.webp">
                    <img loading="lazy" decoding="async" src="../assets/images/webp/da/1.webp" alt="yard" width="630" height="532">
                </picture>
            </div>
            <div class="cs-grid">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="../assets/images/webp/da/3.webp">
                    <source media="(min-width: 601px)" srcset="../assets/images/webp/da/3.webp">
                    <img loading="lazy" decoding="async" src="../assets/images/webp/da/3.webp" alt="yard" width="305" height="522">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="../assets/images/webp/da/2.webp">
                    <source media="(min-width: 601px)" srcset="../assets/images/webp/da/2.webp">
                    <img loading="lazy" decoding="async" src="../assets/images/webp/da/2.webp" alt="yard" width="305" height="348">
                </picture>
                <picture class="cs-picture cs-picture3">
                    <source media="(max-width: 600px)" srcset="../assets/images/webp/da/5.webp">
                    <source media="(min-width: 601px)" srcset="../assets/images/webp/da/5.webp">
                    <img loading="lazy" decoding="async" src="../assets/images/webp/da/5.webp" alt="yard" width="305" height="387">
                </picture>
                <picture class="cs-picture cs-picture4">
                    <source media="(max-width: 600px)" srcset="../assets/images/webp/da/4.webp">
                    <source media="(min-width: 601px)" srcset="../assets/images/webp/da/4.webp">
                    <img loading="lazy" decoding="async" src="../assets/images/webp/da/4.webp" alt="yard" width="305" height="483">
                </picture>
            </div>
        </div>
    </section>
                                

    {% include 'components/cta.html' %}

{% endblock %}